<!DOCTYPE html>
<html lang="cs">

  <head>
    <%- include ("../partials/head"); %>
  </head>

  <body>
  
    <header>
      <%- include ("../partials/header"); %>
    </header>
    
    <!--CONTENT-->
    
    <div id="odstavec">

      <% for(var i=0; i < 3; i++) { %>
      <div class="container">
        <img src="<%= albs[i].cover %>" alt="Album cover" class="image">
        <div class="overlay">
          <div class="text"><center><%= albs[i].name %></center></div>
            <a href="<%= albs[i].songs %>" download>
              <center><button class="knoflik">STÁHNOUT</button></center>
            </a>
          </div>
      </div>
      <% } %>

    </div>

    <!--END-CONTENT-->

    <footer>
      <%- include("../partials/footer"); %>
    </footer>

  </body>

</html>